<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">
    <!--配置扫描注解-->
    <context:component-scan base-package="com.xjtu.service"></context:component-scan>
    <!--配置属性文件扫描-->
    <context:property-placeholder location="classpath:DB.properties"></context:property-placeholder>
    <!--配置数据源bean-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${mysql.driver}"></property>
        <property name="url" value="${mysql.url}"></property>
        <property name="username" value="${mysql.username}"></property>
        <property name="password" value="${mysql.password}"></property>
    </bean>
    <!--配置工厂bean-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- <property name="dataSource" ref="dataSource"></property>--><!--因为已经使用default-autowire="byName"自动注入，所以可以不写
       如果没有使用自动注入，则需要写该依赖注入-->
    </bean>
    <!--配置mapper扫描bean-->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="factory"></property>
        <property name="basePackage" value="com.xjtu.mapper"></property>
    </bean>
    <!--配置事务管理-->
    <!--配置业务层bean,使用注解的方式已经配置好了-->
    <!--配置事务管理bean，相当于我们自己声明的通知bean-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--dataSource属性也是走自动注入-->
    </bean>
    <!--配置事务管理方法-->
    <tx:advice id="advice">
        <tx:attributes>
            <tx:method name="ins*"/>
            <tx:method name="up*"/>
            <tx:method name="del*"/>
            <tx:method name="sel*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!--配置事务切面-->
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* com.xjtu.service.*.*(..))"/>
        <aop:advisor advice-ref="advice" pointcut-ref="pc"></aop:advisor>
    </aop:config>
    <!--配置AOP代理模式-->
</beans>